@{
    ViewData["Title"] = "Home Page";
    
}

<html>
    <head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/Employee.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    </head>
    <body>
        <div class="container">
        <h2>Employees Record</h2><br />
        
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" data-bs-backdrop="static" onclick="clearTextBox()">
            Add Employee
        </button><br /><br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                   
                    <th>
                        Name
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        EmailId
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                    
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>

    @*Update Modal*@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editModalLabel" style="display:none">Update Employee</h4>
                    <h4 class="modal-title" id="addModalLabel">Add Employee</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="EmployeeID" placeholder="Id" disabled="disabled" />
                        </div>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="FirstName">FirstName</label>
                            <input type="text" class="form-control" id="FirstName" placeholder="First Name" required/>
                            <h6 id="ErrFirstName" style="color:red; display:none"></h6>
                        </div>
                        <div class="form-group">
                            <label for="LastName">LastName</label>
                            <input type="text" class="form-control" id="LastName" placeholder="Last Name" required />
                            <h6 id="ErrLastName" style="color:red"></h6>
                        </div>
                        <div class="form-group">
                            <label for="Code">Code</label>
                            <input type="text" class="form-control" id="Code" placeholder="Code" required />
                            <h6 id="ErrCode" style="color:red"></h6>
                        </div>
                        <div class="form-group">
                            <label for="EmailID">EmailID</label>
                            <input type="text" class="form-control" id="EmailID" placeholder="EmailID" />
                            <h6 id="ErrEmailID" style="color:red"></h6>
                        </div>
                        <div class="form-group">
                            <label for="Mobile">Mobile</label>
                            <input type="text" class="form-control" id="Mobile" placeholder="Mobile" />
                            <h6 id="ErrMobile" style="color:red"></h6>
                        </div>
                        <div class="form-group">
                            <label for="Salary">Salary</label>
                            <input type="text" class="form-control" id="Salary" placeholder="Salary" />
                            <h6 id="ErrSalary" style="color:red"></h6>
                        </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" asp-controller="Home" asp-action="Index">Cancel</button>
                        </div>
                    </form>
                    
                    
                    @Html.AntiForgeryToken()
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();" >Add</button>
                    @Html.AntiForgeryToken()
                    <button type="button" class="btn btn-primary" id="btnUpdate" onclick="return Add();" style="display:none">Update</button>
                    </div>
                </div>
 
            </div>
        </div>


    @*@*Add Modal*@

    @*<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addModalLabel">Add Employee</h4>
                </div>
                <div class="modal-body">
                    <form>*@
                        @*<div class="form-group">
                            <label for="EmployeeId">ID</label>
                            <input type="text" class="form-control" id="EmployeeID" placeholder="Id" disabled="disabled" />
                        </div>*@
                        @*<div class="form-group">
                            <label for="FirstName">FirstName</label>
                            <input type="text" class="form-control" id="addFirstName" placeholder="First Name" required />
                            <h6 id="ErrFirstName" style="color:red; display:none"></h6>
                        </div>
                        <div class="form-group">
                            <label for="LastName">LastName</label>
                            <input type="text" class="form-control" id="addLastName" placeholder="Last Name" required />
                            <h6 id="ErrLastName" style="color:red"></h6>
                        </div>
                        <div class="form-group">
                            <label for="Code">Code</label>
                            <input type="text" class="form-control" id="addCode" placeholder="Code" required />
                            <h6 id="ErrCode" style="color:red"></h6>
                        </div>
                        <div class="form-group">
                            <label for="EmailID">EmailID</label>
                            <input type="text" class="form-control" id="addEmailID" placeholder="Email ID" />
                            <h6 id="ErrEmailID" style="color:red"></h6>
                        </div>
                        <div class="form-group">
                            <label for="Mobile">Mobile</label>
                            <input type="text" class="form-control" id="addMobile" placeholder="Mobile" />
                            <h6 id="ErrMobile" style="color:red"></h6>
                        </div>
                        <div class="form-group">
                            <label for="Salary">Salary</label>
                            <input type="text" class="form-control" id="addSalary" placeholder="Salary" />
                            <h6 id="ErrSalary" style="color:red"></h6>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" asp-controller="Home" asp-action="Index">Cancel</button>
                        </div>
                    </form>
                    @Html.AntiForgeryToken()
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add()">Add</button>
                </div>
            </div>

        </div>
    </div>*@
    
    </body>
    
</html>
